mixin cargo-commentary(commentaries)
    for commentary in commentaries
        mdc-card(class='topic' class=attributes.class)&attributes(attributes)
            header.mdc-card__primary
                h4.mdc-card__title.mdc-card__title--large=commentary.title
                p=`author:${commentary.author}`
            section.mdc-card__supporting-text
            p=commentary.description
                block
