include card

mixin project-card(project)
    +card(class='project-projects red' id=project.id).project_card
        .demo-card-wide.mdl-card.mdl-shadow--2dp
            .mdl-card__title
                h2.mdl-card__title-text=project.title
            .mdl-card__supporting-text.card_supporting-text
                p=project.description
            .mdl-card__actions.mdl-card--border
                a.mdl-navigation__link(href=`/${project.id}`).mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                    | More
            .mdl-card__menu
                button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                    i.material-icons add_shopping_cart



