mixin project-commentary(commentaries)
    for commentary in commentaries
        .commentary-card.mdl-card.mdl-shadow--2dp
            .mdl-card__title
                h4.mdl-card__title-text=commentary.title
            .mdl-card__supporting-text
                p.mdc-card__supporting-text=`author:${commentary.author}`
            .mdl-card__supporting-text
                p.mdc-card__supporting-text=commentary.description
